{{block "content" .}}
<div class="container">
    <h1>File Share</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" id="file_input" name="file" hidden />
        <div class="drop-zone-container">
            <progress value="0" max="100" id="drop_zone" class=""></progress>
            <div class="info">
                <h2>Drop file here to upload</h2>
                <h4>Only files up to 100MB can be uploaded</h4>
            </div>
        </div>
        <input type="submit" id="submit_button" hidden />
    </form>
    <p>Files are only stored for 24 hours or until first download</p>
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        text-align: center;
        margin: 0;
    }

    .drop-zone-container {
        display: grid;
        align-items: center;
    }

    .info {
        grid-column: 1;
        grid-row: 1;
        pointer-events: none;
    }

    #drop_zone {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        height: 65vh;
        /* background-color: gray; */
        border: 2px dashed gray;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        user-select: none;
        cursor: pointer;
    }

    .glow {
        box-shadow: 0rem 0rem 5rem steelblue inset;
        transition: all 0.2s;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
<script>
    let /** HTMLDivElement */ dropZone = document.getElementById("drop_zone");
    let /**HTMLInputElement*/ fileInput = document.getElementById("file_input");
    let /**HTMLFormElement*/ form = document.querySelector("form");
    let /**HTMLProgressElement*/ progressBar = document.querySelector("progress");

    // disable drag enter and drag over
    /**
     * @param {DragEvent} event
     * */
    dropZone.ondragenter = dropZone.ondragover = function (event) {
        event.preventDefault();
        dropZone.classList.add("glow");
    };

    /**
     * @param {DragEvent} event
     */
    dropZone.ondragend = dropZone.ondragleave = function (event) {
        event.preventDefault();
        dropZone.classList.remove("glow");
    };

    /**
     * @param {DragEvent} event
     */
    dropZone.ondrop = function (event) {
        event.preventDefault();
        // keep only the first file
        fileInput.files = event.dataTransfer.files;
        dropZone.classList.remove("glow");
        submitHandler();
        // submitButton.click()
    };

    /**
     * @param {MouseEvent} event
     */
    dropZone.onclick = function (event) {
        event.preventDefault();

        fileInput.click();
        // alert("clicked")
    };

    // submit form on file input change
    /**
     * @param {InputEvent} event
     */
    fileInput.oninput = function (event) {
        event.preventDefault();
        submitHandler();
        // submitButton.click()
    };

    document.onload = function () {
        // clear fileinput file list
        form.reset();
    };

    async function submitHandler() {
        let formdata = new FormData()
        let file = fileInput.files[0]
        formdata.append("file", file)
        let url = window.location.href
        let resp = await axios.post(url, formdata, {
            headers: {
                "Content-Type": "multipart/form-data"
            },
            onUploadProgress: progressHandler
        },
        );
        let newUrl = resp.data;
        window.location.href = newUrl;
    }

    /**
     * @param {ProgressEvent} progressEvent
    */
    function progressHandler(progressEvent) {
        let value = progressEvent.loaded / progressEvent.total * 100
        progressBar.value = value
    }
</script>
{{end}}